﻿@using admin.Models
@{
    ViewData["Title"] = "Premiums";
}

<div class="breadcrumbs">
    @*<div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Premiums</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#"></a></li>

                    </ol>
                </div>
            </div>
        </div>*@

</div>

<div class="content mt-3">
    <div class="animated fadeIn">


        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">รายละเอียดรถ</strong>
                    </div>

                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="select" class=" form-control-label">ปีที่ผลิต</label></div>
                            <div class="col-12 col-md-9">
                                <select name="caryear" id="caryear" class="form-control">
                                    <option value="2020">2020</option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2011">2011</option>
                                    <option value="2010">2010</option>
                                   
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="select" class=" form-control-label">ยี่ห้อรถ</label></div>
                            <div class="col-12 col-md-9">
                                <select name="carmake" id="carmake" class="form-control">
                                    <option value="TOYOTA">TOYOTA</option>
                                    <option value="NISSAN">NISSAN</option>
                                    <option value="HONDA">HONDA</option>
                                    <option value="FORD">FORD</option>
                                    <option value="ISUZU">ISUZU</option>
                                    <option value="MITSUBISHI">MITSUBISHI</option>
                                    <option value="MAZDA">MAZDA</option>
                                    <option value="CHEVROLET">CHEVROLET</option>
                                    <option value="BENZ">BENZ</option>
                                    <option value="BMW">BMW</option>
                                    <option value="AUDI">AUDI</option>
                                    <option value="DONGFENG">DONGFENG</option>
                                    <option value="HYUNDAI">HYUNDAI</option>
                                    <option value="KIA">KIA</option>
                                    <option value="LAND ROVER">LAND ROVER</option>
                                    <option value="LEXUS">LEXUS</option>
                                    <option value="MG">MG</option>
                                    <option value="MINI">MINI</option>
                                    <option value="MORIS">MORIS</option>
                                    <option value="RANGE ROVER">RANGE ROVER</option>
                                    <option value="SOKON">SOKON</option>
                                    <option value="SUBARU">SUBARU</option>
                                    <option value="SUZUKI">SUZUKI</option>
                                    <option value="THAI RUNG">THAI RUNG</option>
                                    <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                                    <option value="VOLVO">VOLVO</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="select" class=" form-control-label">รุ่นรถ</label></div>
                            <div class="col-12 col-md-9">
                                <select class="carmodel form-control" name="seCar_model" id="seCar_model">
                                    <option value="-">-----------</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="select" class=" form-control-label">รุ่นย่อย</label></div>
                            <div class="col-12 col-md-9">
                                <select class="car_submodel form-control" name="seCar_submodel" id="seCar_submodel"></select>
                            </div>
                        </div>

                    </div>



                </div> <!-- .card -->

            </div>
            <!--/.col-->

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header"><strong>Company</strong><small> Form</small></div>
                    <div class="card-body card-block">
                        <div class="form-group"><label for="company" class=" form-control-label">Company</label><input type="text" id="company" placeholder="Enter your company name" class="form-control"></div>
                        <div class="form-group"><label for="vat" class=" form-control-label">VAT</label><input type="text" id="vat" placeholder="DE1234567890" class="form-control"></div>
                        <div class="form-group"><label for="street" class=" form-control-label">Street</label><input type="text" id="street" placeholder="Enter street name" class="form-control"></div>
                        <div class="row form-group">
                            <div class="col-8">
                                <div class="form-group"><label for="city" class=" form-control-label">City</label><input type="text" id="city" placeholder="Enter your city" class="form-control"></div>
                            </div>
                            <div class="col-8">
                                <div class="form-group"><label for="postal-code" class=" form-control-label">Postal Code</label><input type="text" id="postal-code" placeholder="Postal Code" class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-group"><label for="country" class=" form-control-label">Country</label><input type="text" id="country" placeholder="Country name" class="form-control"></div>
                    </div>
                </div>
            </div>

       

        </div>
    </div><!-- .animated -->
</div><!-- .content -->
<script>
    $(document).ready(function () {

        alert("AAAA");

        $('#carmake').change(function () {
      
            alert("AAAA");

            
        });
     
    });
</script>