﻿
@{
    ViewData["Title"] = "Index";
}
<script>jQuery(document).ready(function() {
        jQuery(".standardSelect").chosen({
            disable_search_threshold: 10,
            no_results_text: "Oops, nothing found!",
            width: "100%"
        });
    });
</script>
<h1>Index</h1>

